@import "../variables.scss";

.footer-section {
	padding: 0 var(--border-width);
	position: relative;
	height: 300px;
	z-index: 200;
	transition: 0s;
	overflow: hidden;
	background: var(--readable-secondary-color);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	user-select: none;
	@media (max-width: $desktop-small-width) {
		padding: var(--border-width);
	}
	.email-pre-text {
		margin: 0 2px -6px;
		font-size: 0.8em;
		font-weight: 600;
		opacity: 0.5;
	}
	.link {
		margin: 0;
		text-decoration: none;
		color: var(--readable-primary-color);
		transition: 0.2s;
		transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		font-size: 2em;
		font-weight: 700;
		position: relative;
		opacity: 0.75;
		&::after {
			position: absolute;
			transition: 0.2s;
			transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			content: "";
			background: var(--primary-color);
			width: 5%;
			height: 4px;
			left: 0;
			bottom: 0;
		}
		&:hover {
			opacity: 1;
			color: var(--primary-color);
			&::after {
				width: 100%;
			}
		}
		&.alt {
			&::after {
				background: var(--tertiary-color);
			}
			&:hover {
				color: var(--tertiary-color);
			}
		}
	}
}
